<%= render 'header' %>

<div class="row">

  <div class="span8">
  	<div class="bordered">
  		<h2>Edit Season Teams</h2>
    	<%= render 'teams_form' %>
    </div>
  </div>

  <div class="span4">
    <h2>Sidebar</h2>
  </div>

</div>